.navbar-brand
{
    font-weight:200;
    font-size: 30px;
    
}



body {
    background-color:#333;
  }

  .progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
  }
  
  
  .smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  /*
  .scrolled-down{
     transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
     transform:translateY(0); transition: all 0.3s ease-in-out;
  }*/
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
  }



.output {
    text-align:center;
    font-family: 'Source Code Pro', monospace;
    color:white;
    height: 100px;
    h1 {
      font-size:10px;
    }
    

  }


/* Cursor Styling */

.cursor::after {
    content:'';
    display:inline-block;
    margin-left:3px;
    background-color:white;
    animation-name:blink;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
    
  }
  h1.cursor::after {
    height:24px;
    width:13px;
  }
  p.cursor::after {
    height:13px;
    width:6px;
  }
  
  @keyframes blink {
    0% {
      opacity:1;
    }
    49% {
      opacity:1;
    }
    50% {
      opacity:0;
    }
    100% {
      opacity:0;
    }
}


.profile{
    padding: 5%;
}
.pic
{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}


.icon
{
    
    height: 30px;
    width: 30px;
    /*
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;*/
}

.profile-links
{
    text-align: center;
}

.about-me
{
  color:blanchedalmond;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-table{
  text-align: center;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1em;
}

.gradient-border::after{
  content: '';
  
  bottom: -1;
  height: 2px;
  width: 100%;
  display: block;
  background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}